@use '@mixins' as *;
@use '@variables' as *;

.license-name {
  font-weight: bold;
  color: $color-red;
}

.license-text {
  max-height: 24rem;
  padding: 1rem;
  overflow: auto;
  color: $color-white;
  background: $color-darker;
}

.contributor {
  font-weight: bold;
  color: $color-red;
}

.licenses {
  @include outermost-container;
}
