@use '@mixins' as *;
@use '@variables' as *;

.collaboration {
  background-color: $color-komafes;
  @include outermost-container;

  .top-content {
    margin: 4rem 0;
  }

  ul {
    list-style: none;

    li {
      margin: 4rem 0;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.player {
  aspect-ratio: 16/ 9;
}
