$color-top: #ffffff;
$color-slogan: #e53242;

.topColor {
  background-color: $color-top;
  color: white;
  transition: all 1s ease-out;
}
.sloganColor {
  background-color: $color-slogan;
  color: white;
  transition: all 1s ease-out;
}
.content {
  height: 100vh;
  border: solid 1px black;
}

.top {
  height: 100vh;
  background: url('/top-background-img.jpg') no-repeat center / cover;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
