// [Breakpoints](https://getbootstrap.jp/docs/5.0/layout/breakpoints/)

// X-Small devices (portrait phones, less than 576px)
@mixin xs {
  @media (max-width: 575.98px) {
    @content;
  }
}

// Small devices (landscape phones, less than 768px)
@mixin sm {
  @media screen and (max-width: 767.98px) {
    @content;
  }
}

// Medium devices (tablets, less than 992px)
@mixin md {
  @media screen and (max-width: 991.98px) {
    @content;
  }
}

// Large devices (desktops, less than 1200px)
@mixin lg {
  @media screen and (max-width: 1199.98px) {
    @content;
  }
}

// X-Large devices (large desktops, less than 1400px)
@mixin xl {
  @media screen and (max-width: 1399.98px) {
    @content;
  }
}
