@use '@variables' as *;
// Container
@mixin container($container-max-width: 1200px) {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@mixin vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

// [Breakpoints](https://getbootstrap.jp/docs/5.0/layout/breakpoints/)

// X-Small devices (portrait phones, less than 576px)
@mixin xs {
  @media (max-width: 575.98px) {
    @content;
  }
}

// Small devices (landscape phones, less than 768px)
@mixin sm {
  @media screen and (max-width: 767.98px) {
    @content;
  }
}

// Medium devices (tablets, less than 992px)
@mixin md {
  @media screen and (max-width: 991.98px) {
    @content;
  }
}

// Large devices (desktops, less than 1200px)
@mixin lg {
  @media screen and (max-width: 1199.98px) {
    @content;
  }
}

// X-Large devices (large desktops, less than 1400px)
@mixin xl {
  @media screen and (max-width: 1399.98px) {
    @content;
  }
}

@mixin outermost-container {
  min-height: 90vh;
  width: 100%;
  padding: 1rem max(10%, 50% - 600px);

  > h1 {
    @include page-title();
  }

  h2 {
    border-left: 5px solid $color-red;
    padding-left: 10px;
  }
}

@mixin page-title {
  border-left: 5px solid $color-red;
  letter-spacing: 0.1rem;
  position: relative;
  padding-left: 30px;
  margin: 50px 0;

  @include sm {
    font-size: 28px;
    margin: 20px 0 40px;
  }

  &::before {
    content: '';
    width: 5px;
    height: 100%;
    background-color: $color-red;
    position: absolute;
    top: 0;
    left: 0;
  }
}
