$color-darker: #333;
$color-white: #ffffff;
$color-red: #e53242;
$color-purple: #9272af;
$color-green: #47714e;
$color-blue: #1c80c4;
$color-yellow: #fcf6a6;
$color-gray: #808080;

// brand color
$color-line: #06c755;
$color-youtube: #ff0000;
$color-twitter: #1da1f2;
$color-instagram: #e1306c;

// header color
$color-header-background: $color-darker;
$color-header-text: $color-white;
