@use '@variables' as *;
@use '@mixins' as *;

.topColor {
  background-color: $color-white;
  color: $color-gray;
  transition: all 1s ease-out;
}
.sloganColor {
  background-color: $color-red;
  color: $color-white;
  transition: all 1s ease-out;
}
.countdownColor {
  background-color: $color-purple;
  color: $color-white;
  transition: all 1s ease-out;
}
.pvColor {
  background-color: $color-green;
  color: $color-white;
  transition: all 1s ease-out;
}
.overviewColor {
  background-color: $color-blue;
  color: $color-white;
  transition: all 1s ease-out;
}
.accessColor {
  background-color: $color-yellow;
  color: $color-darker;
  transition: all 1s ease-out;
}
.content {
  height: 100vh;
  min-height: 600px;
  font-family: serif;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  &:focus {
    overflow: hidden;
    height: auto;
    width: auto;
    clip-path: inset(0%);
  }
}

.top {
  height: 100vh;
  min-height: 600px;
  @include vertical;
  align-items: flex-start;
  color: $color-white;
  text-shadow: $color-gray 1px 1px;

  .top-background-img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    object-fit: cover;
    object-position: center;
    filter: grayscale(20%);
  }
  .top-contents {
    @include vertical;
    align-items: center;
    z-index: 1;
    .kaika-sengen {
      max-width: 100%;
    }
  }
}

.titleContainer {
  width: 100vw;
  %top-text {
    letter-spacing: 0.2rem;
    margin: 0;
    text-align: center;
    padding: 0 0.05em;
    line-height: 100%;
  }
  .title {
    font-size: 48px;
    @extend %top-text;
  }
  .date {
    font-size: 48px;
    @extend %top-text;
  }
  .no-rsv-no-lim {
    font-size: 30px;
    @extend %top-text;
    text-decoration: underline;
  }
}

.sns {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .snsIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 25%;

    > a {
      margin-left: 2rem;
      margin-right: 2rem;
      > div {
        color: $color-white;
      }
    }
    %icon {
      font-size: 2.5rem;
      color: $color-white;
      transition: color 0.3s ease;
    }

    .YouTube {
      @extend %icon;

      &:hover {
        color: $color-youtube;
      }
    }

    .Twitter {
      @extend %icon;

      &:hover {
        color: $color-twitter;
      }
    }

    .Instagram {
      @extend %icon;

      &:hover {
        color: $color-instagram;
      }
    }

    .LINE {
      @extend %icon;

      &:hover {
        color: $color-line;
      }
    }
  }
}
.smallTitle {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: 0.1rem;
}

.largeTitle {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  padding-bottom: 1rem;
  margin: 0;
}

.slogan {
  @include container();
  @include vertical;
  align-items: center;
  height: 80vh;
  min-height: 600px;
  font-family: serif;

  > div {
    > p {
      padding: 15px 0;
    }
  }
}

.overview {
  @include container();
  @include vertical;
  align-items: center;
  height: 80vh;
  min-height: 600px;
  font-family: serif;
  .detail {
    @include vertical;
  }
  li {
    list-style: none;
    @include vertical;
    align-items: center;
  }
  ul {
    @include vertical;
    align-items: center;
    padding: 0;
    line-height: 1.1;
  }
  .subheading {
    font-size: 1.2rem;
    margin: 15px 0 0 2px;
    text-decoration: underline;
  }
}

.map {
  background-color: gray;
  > iframe {
    height: 50vh;
    width: 60vw;

    @include sm {
      width: 90vw;
    }
  }
}

.access {
  @include container();
  @include vertical;
  align-items: center;
  max-height: 100%;
  min-height: 600px;
}

.access-content {
  ul {
    padding: 0;
    padding-inline-start: 0;
  }

  li {
    list-style: none;
  }

  p {
    margin: 5px 0;
    font-family: var(--font-noto-sans-jp);
  }
  .access-content-title {
    letter-spacing: 0.1rem;
    position: relative;

    &::before {
      content: '';
      width: 10px;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 0;
    }
  }

  .route-button {
    margin: 30px 0 0;
  }
}
