@use '@variables' as *;
@use '@mixins' as *;

.topColor {
  background-color: $color-white;
  color: white;
  transition: all 1s ease-out;
}
.sloganColor {
  background-color: $color-red;
  color: white;
  transition: all 1s ease-out;
}
.countdownColor {
  background-color: $color-purple;
  color: white;
  transition: all 1s ease-out;
}
.pvColor {
  background-color: $color-green;
  color: white;
  transition: all 1s ease-out;
}
.overviewColor {
  background-color: $color-blue;
  color: white;
  transition: all 1s ease-out;
}
.accessColor {
  background-color: $color-yellow;
  color: black;
  transition: all 1s ease-out;
}
.content {
  height: 100vh;
  font-family: serif;
}

.top {
  height: 100vh;
  background: url('/top-background-img.jpg') no-repeat center / cover;
  filter: grayscale(20%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-shadow: gray 1px 1px;
}
.title {
  font-size: 48px;
  letter-spacing: 0.2rem;
  margin: 0;
  text-align: center;
  padding: 0 0.05em;
  line-height: 100%;
}
.date {
  font-size: 48px;
  letter-spacing: 0.2rem;
  margin: 0;
  text-align: center;
  padding: 0 0.05em;
  line-height: 100%;
}

.slogan {
  @include container();
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  font-family: serif;

  > div {
    > p {
      padding: 15px 0;
    }
  }
}
.smallTitle {
  font-size: 13px;
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: 0.1rem;
}

.largeTitle {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  padding-bottom: 1rem;
  margin: 0;
}

.pv {
  @include container();
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.overview {
  @include container();
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  font-family: serif;
  .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
.access {
  @include container();
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.access-content-wrap {
  display: flex;
  margin-top: 50px;
  gap: 40px;
}

.access-content {
  ul {
    padding: 0;
    padding-inline-start: 0;
  }

  li {
    list-style: none;
  }

  p {
    margin: 5px 0;
    font-family: var(--font-noto-sans-jp);
  }
}

.access-content-title {
  letter-spacing: 0.1rem;
  position: relative;

  &::before {
    content: '';
    width: 10px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
  }
}

.map {
  background-color: gray;
  > iframe {
    height: 50vh;
    width: 60vw;

    @include sm {
      width: 90vw;
    }
  }
}

.route-button {
  margin: 30px 0 0;
}
