@use '@mixins' as *;

.countdown {
  @include container();
  display: flex;
  align-items: center;
  height: 80vh;
  letter-spacing: 0.2rem;
  position: relative;

  > div {
    width: 100%;
    font-size: max(1em, 3vw);
    text-align: center;

    &.opening {
      text-align: center;
      padding-right: 0;
    }
  }
}

.left {
  font-size: 25px;
  text-align: left;
}

.small {
  font-size: 35px;
}

.enhance {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0 0.05em;
  padding: 0 0.05em;
  font-size: max(80px, 10vw);
  line-height: 100%;
}
