@use '@variables' as *;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--font-noto-sans-jp);
}

.title {
  font-size: 4rem;
  display: inline-block;
  background-image: url('/gradation.webp');
  background-size: cover;
  background-clip: text;
  background-position: center;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.2rem;
  margin-top: 0;
}

.text {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-top: 0;
  color: $color-darker;
}
