@use '@variables' as *;
@use '@mixins' as *;

.faq {
  @include outermost-container;

  > h1 {
    border-left: 5px solid $color-red;
    letter-spacing: 0.1rem;
    position: relative;
    padding-left: 30px;
    margin: 50px 0;
  }

  h2 {
    border-left: 5px solid $color-red;
    padding-left: 10px;
  }

  li {
    list-style: none;
    margin: 3rem 0;
  }
}
